.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 50px;
  width: 100%;
  background-color: #2874F0;
  margin-bottom: 0px;
  border: none;

}

.navbar__company-logo > img{
  /* text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color:white;
  letter-spacing: 1.2px;
  cursor: pointer; */
  /* color:yellow; */
  /* color: var(--text-color-1); */
  height: 60px;
  width: 200px;
  margin-left: 30px;
  cursor: pointer;
}

.navbar__btn-container {
display:flex;
gap:10px;
color:white;
  /* border: 2px solid var(--border-color-1); */
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  /* background-color: var(--background-color-1); */
  cursor: pointer;
  /* color: var(--text-color-2); */
}
.navbar__btn-container button:hover {
  background-color: var(--background-color-2);
  color: var(--text-color-1);

}

.navbar__fetch-btn {
  margin-right: 20px;
 
}

.inPut{
  margin-top: 7px;
   width:300px;
   border-radius: 4px;
   height: 30px;
   
}

.sBtn{
  margin-right:150px;
  margin-left:.1px;
  margin-top: 7px;
  width:90px;
  height: 30px;
}

.navbar__login-signup-logout-btn{
  margin-top: 10px;
  font-family: verdana,arial,helvetica,sans-serif;
  font-weight: normal;
  text-decoration: none;
 
}

.dDown{
  height: 10px;
  height: 10px;
}